package ${package};

${imports}

class ${className} extends ${extendedComponent}
{
${publicVars}
${bindings}

    public function new()
    {
        super();

		// $constructorBody
${constructorBody}

		// $classBody
${classBody}
    }


	///////////////////////////////////////////////////////////////////////////////
	// Begin <Script> block
	///////////////////////////////////////////////////////////////////////////////
${scriptBlock}
	///////////////////////////////////////////////////////////////////////////////
	// End <Script> block
	///////////////////////////////////////////////////////////////////////////////
}