package ${package};

${imports}

class ${className} extends ${extendedComponent}
{
${publicVars}
${bindings}

    public function new(?parent:Dynamic)
    {
        super(parent);

${constructorBody}
    }

    override public function addChildren()
    {
        super.addChildren();

${classBody}

    }
///////////////////////////////////////////////////////////////////////////////
// Begin <Script> block
///////////////////////////////////////////////////////////////////////////////
${scriptBlock}
///////////////////////////////////////////////////////////////////////////////
// End <Script> block
///////////////////////////////////////////////////////////////////////////////
}